<header class="home ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">

                <form class="form shadow-lg">


                    <p class=" text-uppercase "><i class="fa fa-clipboard fa-3x" aria-hidden="true"></i> Taj Task</p>

                    <p class=" text-uppercase ">
                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-google fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></p>
                </form>

            </div>
            <div class="col-md-8">
                <div class="intro-text">

                    <i class="fa fa-mobile fa-1x" aria-hidden="true"> </i>


                    <div class="intro-heading text-uppercase "></div>

                    <div class="intro-lead-in ">
                        <span>By:Ibrahim Ezzat</span>
                    </div>
                    <input type="submit" [routerLink]="['/item']" class="logbtn shadow" value=" Angular Taj-it  ">

                </div>
            </div>
        </div>
    </div>


</header>